<ion-view title="Atividades" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="atividades-list3">
      <ion-item class="item-thumbnail-left" id="atividades-list-item5">
        <img src="img/q4pyXqUHS6qpacK9k5xI_obra_TG-e1591198299306.jpg">
        <h2>Sobrado Rua Tom Jobim</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="atividades-list-item6" ui-sref="detalhesDaAtividade()">
        <i class="icon ion-ios-reload"></i>Alvenaria
        <span class="item-note">Em progresso</span>
      </ion-item>
      <ion-item class="item-icon-left" id="atividades-list-item7" ui-sref="detalhesDaAtividade()">
        <i class="icon ion-android-done"></i>Chapisco
        <span class="item-note">Finalizada</span>
      </ion-item>
      <ion-item class="item-icon-left" id="atividades-list-item8" ui-sref="detalhesDaAtividade()">
        <i class="icon No Icon"></i>Hidráulica
        <span class="item-note">Pendente</span>
      </ion-item>
      <ion-item class="item-icon-left" id="atividades-list-item9" ui-sref="detalhesDaAtividade()">
        <i class="icon No Icon"></i>Elétrica
        <span class="item-note">Pendente</span>
      </ion-item>
      <ion-item class="item-icon-left" id="atividades-list-item10" ui-sref="detalhesDaAtividade()">
        <i class="icon ion-android-done"></i>Fundação
        <span class="item-note">Finalizada</span>
      </ion-item>
    </ion-list>
    <a ui-sref="gestODeAtividades()" id="atividades-button14" class="button button-positive button-block icon ion-android-add-circle"></a>
  </ion-content>
</ion-view>