<ion-view title="Detalhes da atividade" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="detalhesDaAtividade-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="detalhesDaAtividade-list-item12">
        <img src="img/q4pyXqUHS6qpacK9k5xI_obra_TG-e1591198299306.jpg">
        <h2> Alvenaria</h2>
        <p style="white-space:normal;">Sobrado Rua Tom Jobim</p>
        <i class="icon ion-ios-reload"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="detalhesDaAtividade-list-item14">
        <img src="img/DtiMyZXSTCW6KzTP89gF_MESTRE_GERALDO1-800x533.jpg">
        <h2>José comentou:</h2>
        <p style="white-space:normal;">Faltou material para finalizar</p>
        <i class="icon ion-chatbox"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="detalhesDaAtividade-list-item15">
        <img src="img/tyM3Ecz8QIaAKEkbZPCQ_MESTRE_GERALDO1-800x533.jpg">
        <h2>José comentou:</h2>
        <p style="white-space:normal;">Material chegou hoje!!</p>
        <i class="icon ion-chatbox"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="detalhesDaAtividade-list-item16">
        <img src="img/4r2pfnDMSG1RYwuOONPF_user_icon.jpg">
        <h2>Você comentou:</h2>
        <p style="white-space:normal;">Ok, vamos continuar...</p>
        <i class="icon ion-chatbox"></i>
      </ion-item>
    </ion-list>
    <h4 id="detalhesDaAtividade-heading3" style="color:#000000;">Anexos</h4>
    <div id="detalhesDaAtividade-container2">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="detalhesDaAtividade-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="detalhesDaAtividade-slide25" style="background:url(&quot;img/x3SSlwOKT6eYiqZosbkV_casa-lar-070115a.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="detalhesDaAtividade-slide26" style="background:url(&quot;img/yoXFXiELRDezCvwi2KYL_images&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="detalhesDaAtividade-slide24" style="background:url(&quot;img/M3nHogSyRdCcyjAeCqss_zojkwfe.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div id="detalhesDaAtividade-button-bar3" class="button-bar">
        <a ui-sref="atividades()" id="detalhesDaAtividade-button18" class="button button-positive button-block icon ion-android-cancel"></a>
        <a ui-sref="atividades()" id="detalhesDaAtividade-button19" class="button button-positive button-block icon ion-chatbox"></a>
        <a ui-sref="atividades()" id="detalhesDaAtividade-button20" class="button button-positive button-block icon ion-checkmark-circled"></a>
      </div>
    </div>
  </ion-content>
</ion-view>