<ion-view title="Gestão de atividades" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="gestODeAtividades-list1">
      <ion-item class="item-avatar" id="gestODeAtividades-list-item1">
        <img src="img/Fei5nDyRSqZ5qOAAnBMw_user_icon.jpg">
        <h2>Bem-vindo, João Pereira!</h2>
        <p style="white-space:normal;">Engenheiro Civil CREA: 12345</p>
      </ion-item>
    </ion-list>
    <h4 id="gestODeAtividades-heading1" style="color:#333333;text-align:center;">Lista de obras</h4>
    <ion-list id="gestODeAtividades-list2">
      <ion-item class="item-thumbnail-left" id="gestODeAtividades-list-item2" ui-sref="atividades()">
        <img src="img/N1q9E1s4TvSV2CFNzboA_decoracao-de-cozinha-branco-parede-tijolinhos-adega-banquetas-de-madeira-balcao-de-refeicoes-e-armarios-brancos-luz-natural-iluminacao-em-trilhos.jpg">
        <h2>Reforma do AP 504</h2>
        <p>Cliente solicitou uma reforma do apartamento, visando um ambiente mais aberto e aconchegante, o orçamento é limitado.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="gestODeAtividades-list-item3" ui-sref="atividades()">
        <img src="img/HR4JJ3wQfWz0MR5viVns_maxresdefault.jpg">
        <h2>Área Gourmet</h2>
        <p>Espaço com churrasqueira e mão de obra terceirizada, a área irá possuir também uma piscina de 6mx4m.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="gestODeAtividades-list-item4" ui-sref="atividades()">
        <img src="img/p3su5L3YSc2y7EieW1Oz_obra_TG-e1591198299306.jpg">
        <h2>Sobrado Rua Tom Jobim</h2>
        <p>Troca de revestimento da área da cozinha e também análise do projeto atual para sugestão de melhorias.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
